
/*
 * Globals
 */

/* Links */
@import url('https://fonts.googleapis.com/css?family=Roboto:900,800,700,600,500,400,300,200,100');
* {-webkit-font-smoothing: antialiased;}
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}



/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-image: url("../unordered_black.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  box-shadow: none;
  min-width: 331px;
}

input[type=text], select, textarea {
    width: calc(252px + 9.5vw);
    padding: 0.0vw 0vw;
    margin: 0.0vw 0;
    
    border-radius: 0px;
    box-sizing: border-box;
	border: none;
	border-bottom: 0.1vh solid white;
	background: none;
	text-align: right;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size:  calc(13px + 0.475vw);;
	color: #FDF0EF;
}


::placeholder {
    color: #FDF0EF;
    opacity: 1;
}

input[type=submit] {
    width: 0px;
    background-color: rgba(255,255,255,0);
    color: white;
    padding: 0px 0px;
    margin: 0px 0;
    border: none;
    border-radius: 0px;
    cursor: pointer;
	
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/*
 * Header
 */

.diatom-brand {
  padding-left: 1.5vw;
  
  font-family: 'Roboto', sans-serif;
  color: #FDF0EF;
  font-weight: 400;
  font-size: calc(25px + 0.85vw);
  
  text-align: left;
}

.join-brand {
  text-align: right;
  padding-right: 1.5vw;
  
  font-family: 'Roboto', sans-serif;
  font-weight: 'normal';
  color: #FDF0EF;
  font-weight: 300;
  font-size: calc(17px + 0.65vw);
  padding-top:8px;
}



/*
 * Cover
 */

.cover-heading {
	padding-left: calc(3px + 1.5vw);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: calc(13.5px + 0.45vw);
	color: #FDF0EF;
}

.lead {
	padding-bottom: 1%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #FDF0EF;
	font-size: calc(15.5px + 0.5vw);
	text-decoration: none !important;
}

.lead-space {
	margin-right: 0%;
}

.lead-email {
	font-size: calc(13px + 0.475vw);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border-bottom: 0.1vh solid white;
	padding-bottom: 0.75%;
	text-decoration: none !important;
	color: #FDF0EF;
	
}

.leads{
	margin-left: calc(17px + 1.5vw);
}

/*
 * Footer
 */
.footer-title {
  color: rgb(255, 255, 255);
  padding-left: calc(17px + 1.5vw);
  font-size: calc(13.5px + 0.45vw);
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: #FDF0EF;
  margin-top: 5vh;
}

.footer-space {
	margin-right: 100%;
}

.vc-logos {
  color: rgb(255, 255, 255);
  padding-left: calc(17px + 1.5vw);
  font-size: calc(10px + 0.35vw);
  font-family: 'Roboto', sans-serif;
  color: #FDF0EF;
}

.vc-others {
  padding-top: 0.75vh;
  padding-bottom: 0.0vh;
  color: rgb(255, 255, 255);
  font-size: calc(6.75px + 0.225vw);
  border-bottom: 0.1vh solid white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FDF0EF;
}

.copyright {
  padding-left: calc(17px + 1.5vw);
  font-size: calc(10px + 0.3vw);
  padding-bottom: 0.5vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: rgba(253,240,239,0.5);
  margin-top: 5vh;
}




img.mastfoot{
	padding-top: 0.75vh;
	max-height: calc(20px + 0.7vw);
	padding-right: 1vw;
}

hr.brandhr{
	border-color: #FDF0EF;
	border-width: 1px; 
	width: calc(275px + 10vw); 
	margin-left: calc(17px + 1.5vw);
}
