
/*
 * Globals
 */

/* Links */
@import url('https://fonts.googleapis.com/css?family=Roboto');

a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}



/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-image: url("../background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  
}

.cover-container {

}

input[type=text], select, textarea {
    width: 15vw;
    padding: 0.0vw 0vw;
    margin: 0.0vw 0;
    
    border-radius: 0px;
    box-sizing: border-box;
	border: none;
	border-bottom: 0.1vh solid white;
	background: none;
	text-align: right;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 0.8vw;
	color: #FDF0EF;
}

::placeholder {
    color: #FDF0EF;
    opacity: 1;
}

input[type=submit] {
    width: 0px;
    background-color: rgba(255,255,255,0);
    color: white;
    padding: 0px 0px;
    margin: 0px 0;
    border: none;
    border-radius: 0px;
    cursor: pointer;
	
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  padding-top: 1%;
  padding-left: 2vw;
  font-family: 'Roboto', sans-serif;
  color: #FDF0EF;
  font-weight: 500;
  font-size: 2vw;
}

.join-brand {
  margin-bottom: 0;
  padding-top: 1%;
  text-align: right;
  padding-right: 2vw;
  font-family: 'Roboto', sans-serif;
  color: #FDF0EF;
  font-weight: 500;
  font-size: 1.75vw;
}

.nav-masthead .nav-link {
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  padding-top: 20%;
  padding-right: 2vw;
  font-size: 1.75vw;
  color: #FDF0EF;
  font-family: 'Roboto', sans-serif;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
  
  .cover-heading {
	  float: left;
  }
}


/*
 * Cover
 */
.cover {
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
}

.cover-heading {
	padding-top: 1%;
	padding-left: 2vw;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1vw;
	color: #FDF0EF;
}

.lead {
	padding-bottom: 1%;
	padding-left: 2vw;
	font-family: 'Roboto', sans-serif;
	color: #FDF0EF;
	font-size: 1vw;
	text-decoration: none !important;
	font-weight: lighter;
}

.lead-email {
	font-size: 0.8vw;
	font-family: 'Roboto', sans-serif;
	border-bottom: 0.1vh solid white;
	padding-bottom: 0.75%;
	text-decoration: none !important;
	color: #FDF0EF;
}

/*
 * Footer
 */
.mastfoot1 {
  color: rgb(255, 255, 255);
  padding-left: 2vw;
  font-size: 0.75vw;
  font-family: 'Roboto', sans-serif;
  color: #FDF0EF;
  margin-top: 10vh;
}

.mastfoot2 {
  color: rgba(255, 255, 255, .5);
  padding-left: 2vw;
  font-size: 0.5vw;
  padding-bottom: 1.5%;
  font-family: 'Roboto', sans-serif;
  color: #FDF0EF;
  margin-top: 10vh;
}

.mastfoot3 {
  color: rgb(255, 255, 255);
  font-size: 0.5vw;
  border-bottom: 0.1vh solid white;
  font-family: 'Roboto', sans-serif;
  color: #FDF0EF;
}
.mastfoot4 {
  color: rgb(255, 255, 255);
  padding-left: 2vw;
  font-size: 0.75vw;
  font-family: 'Roboto', sans-serif;
  color: #FDF0EF;
}

img.mastfoot{
	max-height: 1vw;
	padding-right: 0.75vh;
}